* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #333;
}

.imageContainer {
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.image {
  width: 100%;
  height: fit-content;
}

.hidden {
  display: none;
}